// fonts
$font-main: 'Roboto', sans-serif;

// colors
$ColorWhite:white;
$colorGreen:#4bb84a;
$colorBlack: black;
$backgroundColor-nav:$colorBlack;
$linkColor:$ColorWhite;
$linkHover-nav:$colorGreen;
$backgroundColor: #0691ff;
$textHero:$ColorWhite;
$colorButton: $colorGreen;
$backgroundColor-footer: $colorBlack;
$linkHover-footer:$ColorWhite;
$textFooter: #999;



